<div class="container mt-5">
  <div class="d-flex justify-content-end mb-3">
    <a href="/admin/sobremesas/novo" class="btn btn-success">Criar Nova Sobremesa</a>
  </div>
  <div class="row g-4 justify-content-center">
    <% sobremesas.forEach(sobremesa => { %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
            <img src="<%= sobremesa.imagem %>" alt="<%= sobremesa.nome %>" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              <span><%= sobremesa.nome %></span>
              <span class="price">R$ <%= sobremesa.preco.toFixed(2) %></span>
            </h5>
            <p class="card-text"><%= sobremesa.descricao %></p>

            <div class="d-flex justify-content-between">
              <a href="/admin/sobremesas/editar/<%= sobremesa._id %>" class="btn btn-warning">Editar</a>
              <form action="/admin/sobremesas/deletar/<%= sobremesa._id %>" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
