<div class="container mt-5">
  <div class="d-flex justify-content-end mb-3">
    <a href="/admin/pratos/novo" class="btn btn-success">Criar Novo Prato</a>
  </div>
  <div class="row g-4 justify-content-center">
    <% pratos.forEach(prato => { %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
            <img src="<%= prato.imagem %>" alt="<%= prato.nome %>" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              <span><%= prato.nome %></span>
              <span class="price">R$ <%= prato.preco.toFixed(2) %></span>
            </h5>
            <p class="card-text"><%= prato.descricao %></p>

            <div class="d-flex justify-content-between">
              <a href="/admin/pratos/editar/<%= prato._id %>" class="btn btn-warning">Editar</a>
              <form action="/admin/pratos/deletar/<%= prato._id %>" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
